#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Name a few commonly used libraries used by Data Scientists
- List three open-source tools in a table

# Data Science Tools and Ecosystem

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

- TensorFlow
- PyTorch
- NumPy
- Keras
- SciPy

| Data Science Tools |
| ------------------ |
| MySQL              |
| Apache Kafka       |
| Hue                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Denis Efremov